body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightgoldenrodyellow;
    font-family: 'Inclusive Sans',monospace;
    color: #ff8c22;
}

.container {
    box-shadow: -5px 5px 10px darkgray;
    width: 90vmin;
    height: 90vmin;
    border: 2px solid #ff8c22;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: white;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    justify-content: center;
    width: 80vmin;
    align-items: center;
}

.button{
    border: 2px solid darkgray;
    min-width: 14rem;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.controls, .modes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.outer {
    display: flex;
    flex-wrap: wrap;
    gap : 1rem;
    justify-content: center;
    align-items: center;
}